<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CraftMyCV</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
        .ndfHFb-c4YZDc-q77wGc {
            display: none;
        }
    </style>
</head>
<body>
    <iframe src="https://docs.google.com/viewer?url=https://storage.googleapis.com/craftmycv-2bf02.appspot.com/templates/eaa3fde5-7cd3-4d50-88c4-7cb7ac5b9584/file"></iframe>
</body>
</html>